* {
    margin: 0px;
    padding: 0px;
}

header{ 
    background-color: black;
    text-align: center;
  
    
  
}
@font-face {
    font-family:'tuk';
    src: url(fonts/Passion_One\,Playwrite_CU_Guides/);
}
header > p {
    padding-bottom: 50px;
}
h1{
    font: 'tuk', sans-serif;
    color: white;
    text-align: center;

}
h2{
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
    color: rgb(255, 1, 1);
    font: bolder;
    font-weight: bold;

}
a:hover {
    text-decoration: underline;
}
html, body{
    background-color: darkgray;
    min-height: 100vh;
}

section{
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

.normal{
    background-color: white ;
    color: black;
}
.image > p {
    background-color: rgba(41, 40, 40, 0.829);
    width: 400px;
}

.image { 
    background-color: rgb(75, 71, 71);
    color: rgb(255, 255, 255);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}